</div>
</div>
</div>

<div id="nowPlayingBarContainer">
    <div id="nowPlayingbar">
        <div id="nowPlayingLeft">
            <div class="content">
                <span class="albumLink">
                    <img src="https://www.designformusic.com/wp-content/uploads/2016/02/volta-music-trailer-music-album-cover-design.jpg"
                        alt="" class="albumArtWork">
                </span>

                <div class="trackInfo">
                    <span class="trackName">
                        <span>Mandala</span>
                    </span>

                    <span class="artistName">
                        <span>Da Vinci Vini</span>
                    </span>
                </div>
            </div>
        </div>

        <div id="nowPlayingCenter">
            <div class="content playerControls">
                <div class="btns">
                    <button class="control-btn shuffle" title="Shuffle Songs">
                        <img src="/images/icons/shuffle.png" alt="Shuffle Songs">
                    </button>

                    <button class="control-btn previous" title="Previous Song">
                        <img src="/images/icons/previous.png" alt="Previous Song">
                    </button>

                    <button class="control-btn play" title="Play Song">
                        <img src="/images/icons/play.png" alt="Play Song">
                    </button>

                    <button class="control-btn pause" title="Pause Song" style="display: none;">
                        <img src="/images/icons/pause.png" alt="Pause Song">
                    </button>

                    <button class="control-btn next" title="Next Song">
                        <img src="/images/icons/next.png" alt="Next Song">
                    </button>

                    <button class="control-btn repeat" title="Repeat Song">
                        <img src="/images/icons/repeat.png" alt="Repeat Song">
                    </button>
                </div>

                <div class="playbackBar">
                    <span class="progressTime current">0.00</span>

                    <div class="progressBar">
                        <div class="progressBarBG">
                            <div class="progress"></div>
                        </div>
                    </div>

                    <span class="progressTime remaining">0.00</span>
                </div>
            </div>
        </div>

        <div id="nowPlayingRight">
            <div class="volumeBar">
                <button class="control-btn" title="Volume button">
                    <img src="/images/icons/volume.png" alt="Volume">
                </button>

                <div class="progressBar">
                    <div class="progressBarBG">
                        <div class="progress"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</body>

</html>