</div>
</div>
</div>

<div id="nowPlayingBarContainer">
    <div id="nowPlayingbar">
        <div id="nowPlayingLeft">
            <div class="content">
                <span class="albumLink">
                    <!-- <img src="https://www.designformusic.com/wp-content/uploads/2016/02/volta-music-trailer-music-album-cover-design.jpg"
                        alt="" class="albumArtWork"> -->
                    <img src="" alt="Album Cover" class="albumArtWork" role="link" tabindex="0">

                </span>

                <div class="trackInfo">
                    <span class="trackName">
                        <!-- <span>Mandala</span> -->
                        <span role="link" tabindex="0"></span>
                    </span>

                    <span class="artistName">
                        <!-- <span>Da Vinci Vini</span> -->
                        <span role="link" tabindex="0"></span>
                    </span>
                </div>
            </div>

        </div>

        <div id="nowPlayingCenter">
            <div class="content playerControls">
                <div class="btns">
                    <button class="control-btn shuffle" title="Shuffle Songs" onclick="setShuffle()"
                        ontouchstart="setShuffle()">
                        <img src="/images/icons/shuffle.png" alt="Shuffle Songs">
                    </button>

                    <button class="control-btn previous" title="Previous Song" onclick="prevSong()"
                        ontouchstart="prevSong()">
                        <img src="/images/icons/previous.png" alt="Previous Song">
                    </button>

                    <button class="control-btn play" title="Play Song">
                        <img src="/images/icons/play.png" alt="Play Song" onclick="playSong()"
                            ontouchstart="playSong()">
                    </button>

                    <button class="control-btn pause" title="Pause Song" style="display: none;" onclick="pauseSong()"
                        ontouchstart="pauseSong()">
                        <img src="/images/icons/pause.png" alt="Pause Song">
                    </button>

                    <button class="control-btn next" title="Next Song" onclick="nextSong()" ontouchstart="nextSong()">
                        <img src="/images/icons/next.png" alt="Next Song">
                    </button>

                    <button class="control-btn repeat" title="Repeat Song" onclick="setRepeat()"
                        ontouchstart="setRepeat()">
                        <img src="/images/icons/repeat.png" alt="Repeat Song">
                    </button>
                </div>

                <div class="playbackBar">
                    <span class="progressTime current">0.00</span>

                    <div class="progressBar">
                        <div class="progressBarBG">
                            <div class="progress"></div>
                            <div class="buffered"></div>

                        </div>

                    </div>

                    <span class="progressTime remaining">0.00</span>
                </div>
            </div>
        </div>

        <div id="nowPlayingRight">
            <div class="volumeBar">
                <button class="control-btn volume" title="Volume button" onclick="setMute()" ontouchstart="setMute()">
                    <img src="/images/icons/volume.png" alt="Volume">
                </button>

                <div class="progressBar">
                    <div class="progressBarBG">
                        <div class="progress"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div class="modal-overlay" id="allow-audio-modal">
    <div class="modal">
        <div class="modal-container">
            <div class="modal-content">
                <h3>Our app needs audio permission from your browser,</h3>
                <br>
                <h3>Please press ALLOW to continue</h3>
                <button class="button green" onclick="closeModal()">ALLOW</button>
            </div>
        </div>
    </div>
</div>

<div class="loader-overlay" id="loader">
    <div class="loader">Loading...</div>
</div>


</body>

</html>