<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div id="mainContainer">

        <div id="topContainer">
            <div id="navbarContainer">
                <nav class="navBar">
                    <a href="/" class="logo">
                        <img src="/images/icons/logo.png" alt="Slotify Logo">
                    </a>

                    <div class="group">
                        <div class="navItem">
                            <a href="/search" class="navItemLink">
                                Search
                                <img src="/images/icons/search.png" alt="Search Songs" class="icon">
                            </a>
                        </div>
                    </div>

                    <div class="group">
                        <div class="navItem">
                            <a href="/browse" class="navItemLink">Browse</a>
                        </div>

                        <div class="navItem">
                            <a href="/yourmusic" class="navItemLink">Your Music</a>
                        </div>

                        <div class="navItem">
                            <a href="/profile" class="navItemLink">Pranav Shinde</a>
                        </div>
                    </div>
                </nav>
            </div>

            <div id="mainViewContainer">
                <div id="mainContent">